@keyframes control-ajax {
    0%, 100% {
        clip: rect(0px, 48px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 48px, 0px);
    }
    50% {
        clip: rect(46px, 48px, 48px, 0px);
    }
    75% {
        clip: rect(0px, 48px, 48px, 46px);
    }
}

.controls {
    position: absolute;
    top: 0;
    width: 48px;
    height: 100%;
    left: calc(100% + 10px);
    display: flex;
    flex-direction: column;
    align-content: center;

    .control {
        @include card-white(8px, 8px);

        width: 48px;
        height: 48px;
        margin: 9px 0 0 0;
        text-align: center;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            background: rgba(0,0,0,0.075);
        }

        &:before {
            @include centralize();

            line-height: 48px;
        }

        &:after {
            @include centralize();

            content: '';
            box-shadow: inset 0 0 0 2px;
            animation: control-ajax 2.5s cubic-bezier(0.2, 0, 0.2, 0.95) infinite;
            opacity: 0;
            transition: opacity 0.3s;
            animation-play-state: paused;
        }

        &.loading:after {
            opacity: 1;
            animation-play-state: running;
        }

        &.favourite {
            &:before {
                content: '♡';
                font-size: 34px;
            }

            &.favourited:before {
                content: '♥';
                font-size: 40px;
            }
        }

        &.remove:before {
            content: '⛌';
            font-size: 20px;
        }
    }
}
