/* Variables */
$size: 14px; /* Size of each box */
$gutter: 4px; /* Spacing between each box */
$color: #999; /* Colour of each box */

/* Load animation magic */
@-webkit-keyframes loader {
    /* Animate top middle left out of center */
    0% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
            /* Animated */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
                ($size + $gutter) ($size + $gutter) 0 0 $color; /* Top middle left */
    }
    /* Animate top middle right to center */
    25% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) ($size + $gutter) 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
            /* Animated */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
        0 ($size + $gutter) 0 0 $color; /* Top middle left */
    }
    /* Animate bottom middle right to center */
    50% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size + $gutter) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
            /* Animated */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
        0 ($size + $gutter) 0 0 $color; /* Top middle left */
    }
    /* Animate bottom middle right to center */
    75% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size + $gutter) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
        0 ($size + $gutter) 0 0 $color; /* Top middle left */
        /* Animated */
    }
    /* Animate top middle left to center */
    100% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
            /* Animated */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
                ($size + $gutter) ($size + $gutter) 0 0 $color; /* Top middle left */
    }
}

@keyframes loader {
    /* Animate top middle left out of center */
    0% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
            /* Animated */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
                ($size + $gutter) ($size + $gutter) 0 0 $color; /* Top middle left */
    }
    /* Animate top middle right to center */
    25% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) ($size + $gutter) 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
            /* Animated */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
        0 ($size + $gutter) 0 0 $color; /* Top middle left */
    }
    /* Animate bottom middle right to center */
    50% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size + $gutter) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
            /* Animated */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
        0 ($size + $gutter) 0 0 $color; /* Top middle left */
    }
    /* Animate bottom middle right to center */
    75% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size + $gutter) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
        0 ($size + $gutter) 0 0 $color; /* Top middle left */
        /* Animated */
    }
    /* Animate top middle left to center */
    100% {
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
            /* Animated */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
        0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
                ($size + $gutter) ($size + $gutter) 0 0 $color; /* Top middle left */
    }
}

/* Position loader in the center of the screen and rotate it by 45 degrees */
.loader {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        //background: rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    /* Create loader via box shadow pixel art */
    &:after {
        -webkit-animation: loader 2.5s infinite;
        animation: loader 2.5s infinite;
        box-shadow: 0 0 0 $size $color inset, /* Top */
                ($size + $gutter) 0 0 0 $color, /* Top middle right */
                ($size * 2 + $gutter * 2) 0 0 0 $color, /* Right */
                ($size * 2 + $gutter * 2) ($size + $gutter) 0 0 $color, /* Bottom middle right */
                ($size * 2 + $gutter * 2) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom */
                ($size + $gutter) ($size * 2 + $gutter * 2) 0 0 $color, /* Bottom middle left */
                0 ($size * 2 + $gutter * 2) 0 0 $color, /* Left */
                0 ($size + $gutter) 0 0 $color; /* Top middle left */
        content: '';
        height: $size;
        left: calc(50% - #{$size * 3 / 2 + $gutter});
        position: absolute;
        -webkit-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        transition: opacity 0.3s;
        top: calc(50% - #{($size * 3 / 2) - $gutter});
        width: $size;
        z-index: 3;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: ($size * 3 / 2 + $gutter) ($size * 3 / 2 + $gutter);
    }

    /* The loaded class to add when it's done loading */
    &.loaded:after {
        opacity: 0;
    }
}

