body {
    margin: 0;
    background: #f3f3f3;
    font-family: 'Raleway', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

.section {
    @include card-basic();

    max-width: 700px;

    > h1 {
        margin: 16px;
        text-align: center;
        font-weight: 400;
    }

    &.with-min-height {
        min-height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        width: 100%;
        box-shadow: none;
        border-bottom: 2px solid #aaa;
        margin: 0 auto 8px auto;
    }
}
